[[extends "./layout/pc.html"]]
[[block main()]]
<ta-pc :header="header">
    <ta-box title="地图统计">
        <el-radio-group v-model="provinceDataType">
            <el-radio-button label="uv">uv</el-radio-button>
            <el-radio-button label="newAccount">新用户</el-radio-button>
        </el-radio-group>
        <h2 v-if="_isDemo()">点击江苏查看有数据的市级</h2>
        <ta-china-map @click="clickChinaMap" :map-data="province" :value-key="provinceDataType" ></ta-china-map>
        <h2  v-if="cityGeo" >市级</h2>
        <ta-geo-map  v-if="cityGeo" @click="clickCityMap" :map-data="cityData" :geo="cityGeo" :value-key="provinceDataType" ></ta-geo-map>
        <h2  v-if="districtGeo" >区县级</h2>
        <ta-geo-map  v-if="districtGeo" @click="clickDistrictMap" :map-data="districtData" :geo="districtGeo" :value-key="provinceDataType" ></ta-geo-map>
        <ta-heat-map v-if="heatMapApiKey && heatMapData" :map-data="heatMapData" :center="heatMapCenter" ></ta-heat-map>
        <p v-if="!heatMapApiKey" >
            如果想使用热力图,请在 <a target="_blank" href="https://lbs.qq.com/webApi/visualizationApi/visualizationGuide/visualizationBasic">https://lbs.qq.com/webApi/visualizationApi/visualizationGuide/visualizationBasic</a>
            获取 key 后通过
            <code>/admin/area_stat?heat_map_api_key=你的key</code> 访问本页面
        </p>
    </ta-box>
</ta-pc>
[[end]]
[[block script()]]
<script>
    function _mockProvinceData () {
        var uv =  parseInt(Math.random()*20000)
        return {
            uv: uv,
            scan: uv*Math.random(),
            newAccount: uv*Math.random(),
        }
    }
    window.__RENDER_DATA = {
        province: {
            "999999": _mockProvinceData(),
            "710000": _mockProvinceData(),
            "130000": _mockProvinceData(),
            "140000": _mockProvinceData(),
            "150000": _mockProvinceData(),
            "210000": _mockProvinceData(),
            "220000": _mockProvinceData(),
            "230000": _mockProvinceData(),
            "320000": _mockProvinceData(),
            "330000": _mockProvinceData(),
            "340000": _mockProvinceData(),
            "350000": _mockProvinceData(),
            "360000": _mockProvinceData(),
            "370000": _mockProvinceData(),
            "410000": _mockProvinceData(),
            "420000": _mockProvinceData(),
            "430000": _mockProvinceData(),
            "440000": _mockProvinceData(),
            "450000": _mockProvinceData(),
            "460000": _mockProvinceData(),
            "510000": _mockProvinceData(),
            "520000": _mockProvinceData(),
            "530000": _mockProvinceData(),
            "540000": _mockProvinceData(),
            "610000": _mockProvinceData(),
            "620000": _mockProvinceData(),
            "630000": _mockProvinceData(),
            "640000": _mockProvinceData(),
            "650000": _mockProvinceData(),
            "110000": _mockProvinceData(),
            "120000": _mockProvinceData(),
            "310000": _mockProvinceData(),
            "500000": _mockProvinceData(),
            "810000": _mockProvinceData(),
            "820000": _mockProvinceData(),
        }
    }
</script>
<script></script>
<script>
    location.search.replace(/^\?/, "").split("&").some(function (item) {
        var arr = item.split("=");
        var key = arr[0]
        var value = arr[1]
        if (key == 'heat_map_api_key' && value){
            var scriptHTML = [
                `<`,
                `script charset="utf-8"`,
                `src="https://map.qq.com/api/gljs?v=1.exp&key=`,
                key,
                `&libraries=visualization"`,
                `>`,
                `<`,
                "/script",
                `>`,
            ].join("")
            document.write(scriptHTML)
        }
    })
</script>
<script type="module" >
    import ChinaMap from "/public/2type/module/china-map/index.js"
    Vue.component(ChinaMap.name, ChinaMap)
    import GeoMap from "/public/2type/module/geo-map/index.js"
    Vue.component(GeoMap.name, GeoMap)

    import HeatMap from "/public/2type/module/heat-map/index.js"
    Vue.component(HeatMap.name, HeatMap)

    var heatMapApiKey= TA.qs.parse(location.search).heat_map_api_key
    console.log("heatMapApiKey", heatMapApiKey)
    const header = [
        {
            title: "首页",
            url: "",
        },
    ]
    const vm = new Vue({
        components: {},
        el: "#ta-app",
        data: function () {
            const out = {
                ...__RENDER_DATA,
                header: header,
                provinceDataType: 'uv',
                cityData: {},
                cityGeo: false,
                districtGeo: false,
                districtData: {},
                heatMapApiKey: heatMapApiKey,
                heatMapData: false,
                heatMapCenter: {}
            }
            return out
        },
        mounted() {
            const vm = this
        },
        methods: {
            ...TA.m,
            clickCityMap(data) {
              console.log("clickCityMap", data)
                const vm = this
                var loading = vm.$loading({})
                TA.axios({
                    method: 'get',
                    url: '/admin/area_stat/district?adcode='+ data.id,
                    responseType: 'json'
                }).then(function (dataRes) {
                    TA.axios({
                        method: 'get',
                        url: 'https://unpkg.com/@2type/geodata@0.0.1/china/json_v3/'+ data.id + '.json',
                        responseType: 'json'
                    }).then(function (geoRes) {
                        vm.districtData = dataRes.data.districts
                        vm.districtGeo = geoRes.data
                        loading.close();
                    }).catch(function (error) {
                        console.error(error)
                        alert("网络错误,请刷新重试(区县地图)" + error)
                        loading.close();
                    })
                }).catch(function (error) {
                    console.error(error)
                    alert("网络错误,请刷新重试(获取区县数据)" + error)
                    loading.close();
                })
            },
            clickChinaMap(data) {
                console.log("clickChinaMap", data)
                const vm = this
                var loading = vm.$loading({})
                TA.axios({
                    method: 'get',
                    url: '/admin/area_stat/city?adcode='+ data.id,
                    responseType: 'json'
                }).then(function (dataRes) {
                    TA.axios({
                        method: 'get',
                        url: 'https://unpkg.com/@2type/geodata@0.0.1/china/json_v3/'+ data.id + '.json',
                        responseType: 'json'
                    }).then(function (geoRes) {
                        vm.cityData = dataRes.data.cities
                        vm.cityGeo = geoRes.data
                        vm.districtData = {}
                        vm.districtGeo = null
                        loading.close();
                    }).catch(function (error) {
                        console.error(error)
                        alert("网络错误,请刷新重试(市地图)" + error)
                        loading.close();
                    })
                }).catch(function (error) {
                    console.error(error)
                    alert("网络错误,请刷新重试(获取市数据)" + error)
                    loading.close();
                })
            },
            clickDistrictMap(data) {
                const vm = this
                console.log("clickdistrictMap", data)
                // 模拟请求
                var loading = vm.$loading({})
                setTimeout(function () {
                    vm.heatMapCenter = {
                        height: 0,
                        lng: data.geoData.properties.center[0],
                        lat: data.geoData.properties.center[1],
                    }
                    var newHeatMapData = []
                    // 模拟数据
                    for(var i=0;i<100;i++) {
                        var random = function () {
                            var v = (Math.random()/10)
                            if (Math.random()>0.5) {
                                v = -v
                            }
                            return v
                        }


                        newHeatMapData.push([
                            vm.heatMapCenter.lng + random(),
                            vm.heatMapCenter.lat + random(),
                            parseInt(Math.random()*10000, 10)
                        ])
                    }
                    vm.heatMapData = newHeatMapData
                    loading.close()
                }, 100)
            }
        },
        computed:{
        }
    })
</script>
<style>

</style>
[[end]]